@include media-md{
    .menu-btn{
        visibility: hidden;

    }
    .nav{
        visibility: visible;

        .menu-nav{
            display: block;
            transform: translateY(0);
            height: 100%;
            background: $primary-color;
            padding-bottom: 1rem;
            text-align: right;

            &__item{
                display: inline;
                padding-right: 2rem;
            }

            &__link{
                
                font-size: 2rem;

            
            }
        }
    }
    .about__bio{
        font-size: 1.5rem;
    }
    .projects{
        &__bio-image{
            height: 30vh;

        }
        &_items{
            width: 80vh;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .contact__list{
        grid-template-columns: repeat(2, 1fr);
    }
}
@include media-lg{
    .projects{
        &__bio-image{
            height: 30vh;

        }
        &_items{
            width: 80vh;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .contact__list{
        grid-template-columns: repeat(2, 1fr);
    }
}
@include media-xl{
    
}